.cube-section-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  background: black;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}


